.tool-container {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  position: relative;
  /* margin: auto 0px; */
  /* background-color: aqua; */
}
.tool {
  border: none;
  margin: 0 10px;
  box-shadow: none;
}
